body {
    background-image: url("../images/background.PNG");
    background-color: black;
}

.removePadding {
    padding-left: 0px;
    margin: 0px;
}

.headerNav {
    color: white;
}

.headerNav:hover {
    color: black;
}